body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d3d3d3;
  color: #333;
}

header {
  background-color: #E6E6FA;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #D8BFD8;
}


.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.profile-picture img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about {
  max-width: 600px;
  margin-left: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2 {
  color: #4b0082;
  text-decoration: underline;
}

.about p {
  font-size: 20px;
  line-height: 1.8;
}

.content-section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #E6E6FA;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-section h2 {
  color: #4b0082;
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: underline;
}

.content-section ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.content-section ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.content-section p {
  font-size: 18px;
}

footer {
  background-color: #4b0082;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}